<fieldset class="ui-widget ui-widget-content ui-corner-top">
  <legend class="ui-widget ui-corner-all ui-widget-header">Nuevo Per&iacute;odo</legend>
<% form_for(@periodo) do |f|  %>
 <%= f.error_messages(:id => 'error', :header_message => '', :message => 'Ocurrió un error al intentar guardar el registro')  %>


  <div class="errores">
    <ol style="list-style:none"></ol>
  </div>


  <table  style=" text-align: left;">
    <tr>
      <th>Per&iacute;odo</th>
      <td><%= f.date_select(:mes,  :order => [:year], :start_year => 2011, :class => 'required', :title => 'Ingrese un periodo', :size=> 15 , :prompt => {:year => 'Seleccione'}) %> </td>
    </tr>

    <tr>
      
      <td><%#= f.date_select :anio, :order => [:year], :prompt => false, :size=> 15, :class => 'required', :prompt => {:year => 'Seleccione'} %> </td>
    </tr>
   <!--<tr>
    <tr>
      <th>Fue liquidado?</th>
      <td><%#= f.check_box :fue_liquidado, :class=> 'ui-widget-content required'  %> </td>
    </tr>

    <tr>
      <th>Fecha de liquidacion</th>
      <td><%#= f.date_select :fecha_liquidacion, :order => [:day,:month,:year],  :use_month_names => ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre',
                                                       'Octubre', 'Noviembre', 'Diciembre'], :class=> 'ui-widget-content required', :prompt => {:year => 'Seleccione Año', :month => 'Seleccione Mes', :day => 'Seleccione Dia'}  %> </td>
    </tr> -->


    

  </table>

 <table>
        <tr>
          <td style=" float: left; margin-left: 900px">
             <%#= link_to 'Volver', buscar_periodos_path %>
            <%= f.submit 'Guardar' , :class => 'submit ui-button ui-widget ui-state-default ui-corner-all' %>

          </td></tr>
  </table>

  <%end%>
</fieldset>


<script type="text/javascript">  
 $(document).ready(function(){
    $(".new_periodo").validate({
        //errorLabelContainer: $("#new_paciente div.errores")
       errorContainer: $(".new_periodo div.errores"),
       errorLabelContainer: $("ol", $(".new_periodo div.errores")),
       wrapper: 'li',
       meta: "validate"
     
    });

 });
</script>