<fieldset class="ui-widget ui-widget-content ui-corner-top">
  <legend class="ui-widget ui-widget-content ui-corner-all ui-widget-header">Liquidaci&oacute;n</legend>
  <table>
    <tr><td>La cantidad de pacientes afectados al per&iacute;odo liquidado es:
<%= @resultado[0].liquidado.to_s %>
      </td> </tr>
  </table>
</fieldset>
