<fieldset class="ui-widget ui-widget-content ui-corner-top">
  <legend class="ui-widget ui-widget-content ui-corner-all ui-widget-header">Liquidacion</legend>
  <table>
    <tr><td>
<%= @resultado[0].liquidado.to_s %>
      </td> </tr>
  </table>
</fieldset>
