<fieldset class="ui-widget ui-widget-content ui-corner-top">
  <legend class="ui-widget ui-widget-content ui-corner-all ui-widget-header">Prestaci&oacute;n</legend>
 <table style=" text-align: left;"">
 <tr>
  <th>
  C&oacute;digo de prestaci&oacute;n:</th>
  <th><%=h @prestacion.codigo %>
  </th>
    </tr>
    <tr>
  <th>
  Descripci&oacute;n:</th>
  <th><%=h @prestacion.descripcion %>
  </th>
    </tr>
    <tr>
     <th>
     Valor por defecto:</th>
     <th><%=h number_to_currency(@prestacion.valor) %>
     </th>
     </tr>
  </table>
</fieldset>

