<fieldset class="ui-widget ui-widget-content ui-corner-top">
  <legend class="ui-widget ui-widget-content ui-corner-all ui-widget-header">Prestaci&oacute;n</legend>
 <table class="table-list">
 <tr>
  <td>
  <label>C&oacute;digo de prestacion:</label></td>
  <td><%=h @prestacion.codigo %>
  </td>
    </tr>
    <tr>
  <td>
  <label>Descripci&oacute;n:</label></td>
  <td><%=h @prestacion.descripcion %>
  </td>
    </tr>
    <tr>
     <td>
     <label>Valor por defecto:</label></td>
     <td><%=h number_to_currency(@prestacion.valor) %>
     </td>
     </tr>
  </table>
</fieldset>

