<legend class="ui-widget  ui-corner-all ui-widget-header">Acciones</legend>

<table style=" text-align: left;">
  <% @acciones.each do |accion| %>
<tr>
    <td><%=h accion.nombre %></td>
 
<%end%>
 <td  style=" float: left; margin-left:  600px"> <%= link_to 'nueva accion', new_accion_path %>
 </td>
</tr>
  </table>
