<fieldset class="ui-widget ui-widget-content ui-corner-top">
  <legend class="ui-widget ui-corner-all ui-widget-header">Liquidaciones de Cuentas de Pacientes</legend>
    <table>
         <tr>
            <td style=" float: left; margin-left:  850px">

                  <%= submit_tag 'Liquidar', :class => 'submit ui-button ui-widget ui-state-default ui-corner-all' %>
            </td>
         </tr>
      </table>
  

</fieldset>
