<fieldset class="ui-widget ui-widget-content ui-corner-top">
<legend class="ui-widget ui-corner-all ui-widget-header">Odontograma Actual</legend>

<%  unless @paciente.odontogramas.blank? %>

   <div style="float:right; margin-right: 60px"><%= link_to image_tag('add.png') + 'Nuevo Odontograma', new_odontograma_url(:paciente_id=> @paciente.id.to_s), :id => 'odontog'  %>
<script type="text/javascript">

    $('#odontog').fancybox({
      'hideOnContentClick': false,
      'titleShow': false

    });

</script>
   </div>

<table>

<%= render :partial => 'odontogramas/ver1' %>

<%else%>
   No posee Odontogramas  <div style="float:right; margin-right: 60px"><%= link_to image_tag('add.png') + 'Nuevo Odontograma', new_odontograma_url(:paciente_id=> @paciente.id.to_s), :id => 'odontog'  %></div>

</table>
<script type="text/javascript">
 
    $('#odontog').fancybox({
      'hideOnContentClick': false,
      'titleShow': false

    });

    $('#sw').fancybox({
      'hideOnContentClick': false,
      'titleShow': false

    });

     
</script>

<%end%>  </fieldset>