<fieldset class="ui-widget ui-widget-content ui-corner-top">
<legend class="ui-widget ui-corner-all ui-widget-header">Odontograma</legend>

<table>
<div style="float:right; margin-right: 60px"><%= link_to 'Nuevo Odontograma', new_odontograma_url(:paciente_id=> @paciente.id.to_s), :id => 'odontog'  %></div>
<div style="float:right; margin-right: 60px"><%= link_to 'Listado', odontogramas_url , :id => 'sw'%></div>

<script type="text/javascript">
 
    $('#odontog').fancybox({
      'hideOnContentClick': false,
      'titleShow': false

    });

 $('#sw').fancybox({
      'hideOnContentClick': false,
      'titleShow': false

    });

     
</script>
</table>

<%= render :partial => 'odontogramas/ver' %>




  </fieldset>



