
<fieldset class="ui-widget ui-widget-content ui-corner-all">
  <legend class="ui-widget  ui-corner-all ui-widget-header">Cuenta Corriente</legend>

  <table>
     <tr>
       <td style=" float: left; margin-left: 900px"><%= link_to image_tag('add.png') + 'Nuevo Pago', new_pago_paciente_url(:paciente_id=> @paciente.id.to_s), :id => 'pago' %>
       </td>
     </tr>
      <script type="text/javascript">

      $('#pago').fancybox(
        {
      'hideOnContentClick': false,
      'titleShow': false

      });

      </script>
   </table>
  
<%= render :partial => 'tratamientos/listado' %>


<%= render :partial => 'pagos_pacientes/orden' %>
 </fieldset>
 

  