<fieldset class="ui-widget ui-widget-content ui-corner-top">
  <legend class="ui-widget ui-widget-content ui-corner-all ui-widget-header">Historias Clinicas</legend>

<table>
  <tr>

<%if @paciente.historia_clinica_general.blank? -%>
    <%=  link_to image_tag('add.png'), new_paciente_historia_clinica_general_path(@paciente), :title => 'Nueva Historia Clinica' %>Historia Clinica General
<%elsif-%>
    <%= link_to image_tag('magnifier_zoom_in.png'), paciente_historia_clinica_general_path(@paciente, @historia_clinica_general), :title => 'Ver' %>Historia Clinica General
<%end-%>
    
</tr>

<br/>

<tr>



<% if @paciente.historia_clinica_ortodoncia.blank? -%>

  <%= link_to image_tag('add.png'), new_paciente_historia_clinica_ortodoncia_path(@paciente), :title => 'Nueva Historia Clinica' %>Historia Ortodoncica

<%elsif -%>
     <%=  link_to image_tag('magnifier_zoom_in.png'), paciente_historia_clinica_ortodoncia_path(@paciente, @historia_clinica_ortodoncia), :title => 'Ver' %>Historia Ortodoncica
 

<%end -%>

</tr>
 </table>
</fieldset>