<table><tr>
    <td>
      <%= @paciente.nombre %>
    </td>
    <td>
<%= link_to 'prueba' , prueba_tratamiento_path, :id => 'calendar'%></td></tr>
</table>
<script type="text/javascript">
$(document).ready(function() {
  $('#calendar').weekCalendar({
    events:[{"id":10182,
      "start":"2009-05-03T12:15:00.000+10:00",
      "end":"2009-05-03T13:15:00.000+10:00",
      "title":"Lunch with Mike"
    }, {
      "id":10182,
      "start":"2009-05-03T14:00:00.000+10:00",
      "end":"2009-05-03T15:00:00.000+10:00",
      "title":"Dev Meeting"
    }]
  });
});
</script>