<% unless @pacientes.blank?%>
  <table style=" text-align: left;" class="listados">
    <tr>
      <th>Nombre y Apellido</th>
      <th>D.N.I.</th>
    </tr>
    <%  @pacientes.each do |paciente| %>
      <tr>
        <td><%= paciente.nombre_apellido %></td>
        <td><%= paciente.nro_documento %></td>
        <td><%= button_to_remote 'Asignar', :url => asignar_paciente_path(paciente), :success => "$('.qtip').remove()", :method => :get %> </td>

      </tr>
    <% end %>
  </table>

<% else %>
  No se encontraron paciente segun el criterio de b&uacute;squeda.
<% end %>

