<fieldset class="ui-widget ui-widget-content ui-corner-top">
  <legend class="ui-widget ui-widget-content ui-corner-all ui-widget-header">Cambiar Imagen</legend>

<%#=  cambia la imagen del paciente de la solapa datos personales  %>

  <div>
  <b>Cambiar imagen del paciente <%=  @paciente.nombre %></b><br/><br/>
   <% form_for(:archivo, :url => archivos_path,
                         :html => {:multipart => true}) do |f| -%>

 <div class="errores">
    <ol style="list-style:none"></ol>
  </div>

      <table>
        <tr>
          <th> <label for="archivos">Seleccione archivo:</label> </th>
          <td>
            <%= f.file_field :uploaded_data, :class=> 'required', :title=> 'Seleccione un archivo'%>
            <%= hidden_field :paciente,:id,"value"=>@paciente.id %>
          </td>
         </tr>
         <tr>
          <td><a  style="font-size: 13px;color:red" class="close">Cancelar</a></td>
          <td><%= submit_tag 'Aceptar' %></td>
        </tr>
      </table>
  
   <% end -%>
</div>

</fieldset>

<script type="text/javascript">
  $(document).ready(function(){
    $("#archivo_uploaded_data").validate({
        //errorLabelContainer: $("#new_paciente div.errores")
       errorContainer: $("#archivo_uploaded_data"),
       errorLabelContainer: $("ol", $("#archivo_uploaded_data")),
       wrapper: 'li',
       meta: "validate"
     });

  });
</script>


  