<fieldset class="ui-widget ui-widget-content ui-corner-top">
  <legend class="ui-widget ui-widget-content ui-corner-all ui-widget-header">Cambiar Imagen</legend>
<div>
  <b>Cambiar imagen del paciente <%=  @paciente.nombre %></b><br/><br/>
   <% form_for(:archivo, :url => archivos_path,
                         :html => { :multipart => true }) do |f| -%>
 
      <table>
        
        <tr>
          <th>
            <label for="archivo">Seleccione archivo:</label>
          </th>
          <td>
            <%= f.file_field :uploaded_data %>
            <%= hidden_field :paciente,:id,"value"=>@paciente.id %>
          </td>
        </tr>
        <tr>
          <td><a  style="font-size: 13px;color:red" class="close">Cancelar</a></td>
          <td><%= submit_tag 'Aceptar' %></td>
        </tr>
      </table>
   <% end -%>
</div>
</fieldset>


  