
<fieldset class="ui-widget ui-widget-content ui-corner-top">
  <legend class="ui-widget ui-widget-content ui-corner-all ui-widget-header">Asignar Titular</legend>


<% form_remote_tag :url => results_titular_paciente_path(@paciente),
                    :method => :post, :update => :search_hits do -%>
 


<table  style="text-align: left ; "class="table-list" >
      <tr>
        <th>
          Obra Social</th>
        <td><%= collection_select(:get, :obra_social_id, ObraSocial.all, :id, :nombre,{}, :class=> 'ui-widget-content', :name=> 'titular[obra_social]')%>
        </td>
      </tr>
      <tr>
        <th>
          Nombre y Apellido</th>
        <td><%= text_field_tag :nombre,{}, :class=> 'ui-widget-content', :name => 'titular[nombre]', :onkeypress=> 'return validate(event)'  %>
        </td>
      </tr>
      <tr>
        <th>
          Matr&iacute;cula</th>
        <td><%= text_field_tag :matricula,{}, :class=> 'ui-widget-content', :name => 'titular[matricula]', :onkeypress=> 'return validar(event)' %>
        </td>
      </tr>
      
      <table>
        <td  style=" float: left; margin-left: 185px"><%= submit_tag 'Buscar', :class => 'submit ui-button ui-widget ui-state-default ui-corner-all' %>
        </td>
      </table>
      </table>


 <div id ="search_hits">

</div>

</fieldset>
 <%end -%>

<script type="text/javascript">
  function validar(e) { // 1
    tecla = (document.all) ? e.keyCode : e.which; // 2
    if (tecla==8) return true; // 3
    patron =/\d/; //4
    te = String.fromCharCode(tecla); // 5
    return patron.test(te); // 6
}
function validate(e) { // 1
    tecla = (document.all) ? e.keyCode : e.which; // 2
    if (tecla==8) return true; // 3
    patron =/[A-Za-zñÑ\s]/; //4
    te = String.fromCharCode(tecla); // 5
    return patron.test(te); // 6
}
$.fancybox.resize();
</script>

  