<fieldset class="ui-widget ui-widget-content ui-corner-top">
  <legend class="ui-widget ui-widget-content ui-corner-all ui-widget-header">Buscar Pacientes</legend>
<div id="searchform">
  <%  form_remote_tag :url=> result_pacientes_path, 
                      :method => :post,
                      :update => :search_hits do -%>

      <table id="search-form">
        <tr>
          <td> <label for="tipo_documento">Tipo Documento</label></td>
        <td><%=  collection_select(:get, :tipo_documento_id, TipoDocumento.all, :id, :descripcion, {}, :class => 'ui-widget-content') %> </td>
          
        <td><label for="matricula">Nro:</label></td>
          <td> <%= text_field_tag :matricula %></td>
        </tr>

        <tr>
          <td><label for="nombre">Nombre y Apellido</label></td>
        <td><%= text_field_tag :nombre %></td>
        </tr>
        <tr style="text-align:right">
          <label></label>
          <td> <%= submit_tag 'Buscar' %></td>
          <td><a href="">Avanzado</a></td>
        </tr>
      </table>
  <%end -%>
  
</div>
<div id="search_hits">

</div>
</fieldset>