<p>
  <b>Nombre:</b>
  <%=h @titular.nombre %>
</p>

<p>
  <b>Consultorio:</b>
  <%=h @titular.consultorio_id %>
</p>

<p>
  <b>Matricula:</b>
  <%=h @titular.matricula %>
</p>

<p>
  <b>Obra social:</b>
  <%=h @titular.obra_social_id %>
</p>
