<fieldset class="ui-widget ui-widget-content ui-corner-top">
  <legend class="ui-widget ui-widget-content ui-corner-all ui-widget-header">Titular</legend>
  <table class="table-list">
    <tr>
  <th>Nombre:</th>
  <th><%=h @titular.nombre %>
</th>
    </tr>
    <tr>

  <th>Consultorio:</th>
  <th><%=h @titular.consultorio_id %>
</th>
    </tr>
    <tr>

  <th>Matr&iacute;cula:</th>
  <th><%=h @titular.matricula %>
</th>
    </tr>
    <tr>

  <th>Obra social:</th>
  <th><%=h @titular.obra_social_id %>
</th>
    </tr>
  </table>
</fieldset>