<fieldset class="ui-widget ui-widget-content ui-corner-top">
  <legend class="ui-widget ui-widget-content ui-corner-all ui-widget-header">Titular</legend>
  <table class="table-list">

  <td>Nombre:</td>
  <td><%=h @titular.nombre %>
</td>


  <td>Consultorio:</td>
  <td><%=h @titular.consultorio_id %>
</td>


  <td>Matricula:</td>
  <td><%=h @titular.matricula %>
</td>


  <td>Obra social:</td>
  <td><%=h @titular.obra_social_id %>
</td>
  </table>
</fieldset>