<fieldset class="ui-widget ui-widget-content ui-corner-top">
  <legend class ="ui-widget ui-widget-content ui-corner-all ui-widget-header">Clinicas</legend>
<table style=" text-align: left; ">
  <tr>
  <th>Nombre</th>
  <td><%=h @clinica.nombre %>
</td>
  </tr>
<tr>
  <th>Direccion</th>
  <td><%=h @clinica.direccion %>
</td>
</tr>

<tr>
  <th>Cuit</th>
  <td><%=h @clinica.cuit %>
</td>
</tr>
</table>
</fieldset>
