<h1>Listado de tipos afiliado</h1>

<table id="table-list">
  <tr>
    <th>Descripcion</th>
  </tr>

<% @tipos_afiliado.each do |tipos_afiliado| %>
  <tr>
    <td><%=h tipo_afiliado.descripcion %></td>

  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo tipo_afiliado', new_tipo_afiliado_path %>