<fieldset class="ui-widget ui-widget-content ui-corner-top">
  <legend class="ui-widget ui-widget-content ui-corner-all ui-widget-header">Eventos</legend>

<% form_remote_tag  :url => new_odontograma_path,
                     :method => :post,
                     :update => :search_hit do -%>

<tr>

         <th> <label>Elija el tratamiento</label></th>
        <th>
          <%= select("accion", "accion_id", Accion.all.collect {|p| [ p.nombre, p.id]}, :include_blank => 'Seleccione') %>

        </th>

    </tr>
<%end%>


    <script type="text/javascript">
/*      var accion = 0;
      alert (accion);
*/


      

      </script>
</fieldset>