<fieldset class="ui-widget ui-widget-content ui-corner-top">
<legend class="ui-widget ui-corner-all ui-widget-header">Odontograma</legend>
  <br/>
  <br/>
  <table>

 <tr>
  <th>
  <div id="">18</div>
  <div id="contenedor">
    <div class="borde superior"></div>
    <div class="borde inferior"></div>
    <div class="borde der"></div>
    <div class="borde izq"></div>
    <div class="contenido"></div>
  </div>
  </th>

     <th>
  <div id="">17</div>
  <div id="contenedor">
    <div class="borde superior"></div>
    <div class="borde inferior"></div>
    <div class="borde der"></div>
    <div class="borde izq"></div>
    <div class="contenido"></div>
  </div>
  </th>

  <th>
  <div id="">16</div>
  <div id="contenedor">
    <div class="borde superior"></div>
    <div class="borde inferior"></div>
    <div class="borde der"></div>
    <div class="borde izq"></div>
    <div class="contenido"></div>
  </div>
  </th>

  <th>
  <div id="">15</div>
  <div id="contenedor">
    <div class="borde superior"></div>
    <div class="borde inferior"></div>
    <div class="borde der"></div>
    <div class="borde izq"></div>
    <div class="contenido"></div>
  </div>
  </th>

  <th>
  <div id="">14</div>
  <div id="contenedor">
    <div class="borde superior"></div>
    <div class="borde inferior"></div>
    <div class="borde der"></div>
    <div class="borde izq"></div>
    <div class="contenido"></div>
  </div>
  </th>

  <th>
  <div id="">13</div>
  <div id="contenedor">
    <div class="borde superior"></div>
    <div class="borde inferior"></div>
    <div class="borde der"></div>
    <div class="borde izq"></div>
    <div class="contenido"></div>
  </div>
  </th>

  <th>
  <div id="">12</div>
  <div id="contenedor">
    <div class="borde superior"></div>
    <div class="borde inferior"></div>
    <div class="borde der"></div>
    <div class="borde izq"></div>
    <div class="contenido"></div>
  </div>
  </th>

  <th>
  <div id="">11</div>
  <div id="contenedor">
    <div class="borde superior"></div>
    <div class="borde inferior"></div>
    <div class="borde der"></div>
    <div class="borde izq"></div>
    <div class="contenido"></div>
  </div>
  </th>

  <th><div class="linea"></div></th>

   <th>
   <div id="">21</div>
   <div id="contenedor">
    <div class="borde superior"></div>
    <div class="borde inferior"></div>
    <div class="borde der"></div>
    <div class="borde izq"></div>
    <div class="contenido"></div>
   </div>
   </th>

   <th>
   <div id="">22</div>
   <div id="contenedor">
    <div class="borde superior"></div>
    <div class="borde inferior"></div>
    <div class="borde der"></div>
    <div class="borde izq"></div>
    <div class="contenido"></div>
   </div>
   </th>

   <th>
   <div id="">23</div>
   <div id="contenedor">
    <div class="borde superior"></div>
    <div class="borde inferior"></div>
    <div class="borde der"></div>
    <div class="borde izq"></div>
    <div class="contenido"></div>
   </div>
   </th>

   <th>
   <div id="">24</div>
   <div id="contenedor">
    <div class="borde superior"></div>
    <div class="borde inferior"></div>
    <div class="borde der"></div>
    <div class="borde izq"></div>
    <div class="contenido"></div>
   </div>
   </th>

   <th>
   <div id="">25</div>
   <div id="contenedor">
    <div class="borde superior"></div>
    <div class="borde inferior"></div>
    <div class="borde der"></div>
    <div class="borde izq"></div>
    <div class="contenido"></div>
   </div>
   </th>

   <th>
   <div id="">26</div>
   <div id="contenedor">
    <div class="borde superior"></div>
    <div class="borde inferior"></div>
    <div class="borde der"></div>
    <div class="borde izq"></div>
    <div class="contenido"></div>
   </div>
   </th>

   <th>
   <div id="">27</div>
   <div id="contenedor">
    <div class="borde superior"></div>
    <div class="borde inferior"></div>
    <div class="borde der"></div>
    <div class="borde izq"></div>
    <div class="contenido"></div>
   </div>
   </th>

   <th>
   <div id="">28</div>
   <div id="contenedor">
    <div class="borde superior"></div>
    <div class="borde inferior"></div>
    <div class="borde der"></div>
    <div class="borde izq"></div>
    <div class="contenido"></div>
   </div>
   </th>

   </tr>
  </table>

</fieldset>
  <script type="text/javascript">

 $('.contenido').attr('style', 'activo').click(function(){
    alert('holaaa')
  });

  $('.contenido, .borde.inferior').attr('style', 'activo').click(function(){
    alert('ooooooooo')
  });

    $('.contenido, .borde.superior').attr('style', 'activo').click(function(){
    alert('yyyyyyyyy')
  });


 $('.contenido, .borde.der').attr('style', 'activo').click(function(){
    alert('uuuu')
  });

 $('.contenido, .borde.izq').attr('style', 'activo').click(function(){
    alert('iiiii')
  });


  </script>
<%= link_to 'Volver', odontogramas_path %>