<li>
  <b>Nombre:</b>
  <%=h @perfil.nombre %>
</li>

<li>
  <b>Estatico:</b>
  <%=h @perfil.estatico %>
</li>



<%= link_to 'Editar', edit_perfil_path(@perfil) %> |
<%= link_to 'Volver', perfiles_path %>