/*
    Document   : main.css
    Created on : 13/11/2009, 13:37:39
    Author     : carlos barbiero
    Description:
        hoja de estilos principal
*/
body {
    margin: 0;
    font-family: Tahoma, Sans-serif;
    font-size:12px;
    background-color:#7095ad;
    text-align:center;
}
a {
    cursor:pointer;
}
a:link{
    color: #0099CC;
    text-decoration:none;
}
a:visited{
    color: #0099CC;
    text-decoration:none;
}
a:hover{
    text-decoration:underline;

}
input{
    font-size:14px;
}
img{
    vertical-align:middle;
    border:none;
}
ul {
    list-style:none;

}
h1{
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 16px;
    font-weight: bold;
    float:left;

}
#wrapper{

    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background-color:#5599bb;
    min-height:500px;
    height: auto;


}
#container{
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    -moz-border-radius:8px;
    


}
#header{
    margin: 0 auto;
    text-align:left;
    clear:both;
    overflow:hidden;
    padding-bottom:0px;
    padding-top:10px;
    height:40px;
    width:950px;
    border-bottom:#5252FF 8px solid;
    background-color:#EAEAEA;
}
#header #logo{
    font-size:20px;
    vertical-align: middle;
}

#header #menutabs{
    margin-top: 10px;
    margin-right: 15px;
}


 /*----------------- TABS -------------------------------*/
  ul#tabs{
      float:right;

}
ul#tabs li{
    display:inline;
    background-color: #000;
    padding-bottom: 8px;
    padding-top: 6px;
    padding-left: 8px;
    padding-right: 8px;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    -moz-border-radius: 8px;
    cursor: pointer;
}

ul#tabs li.selected{
    background-color: #5252ff;
    color: white;
}





/*--------------------------------*/
div#submenu{
    background-color: #ECF4FF;
    min-height: 400px;
    width:200px;
    float:left;
    margin-right: 10px;
   -moz-border-radius-bottomright:8px;
    -moz-border-radius-bottomleft:8px;
    -webkit-border-bottom-right-radius:8px;
    -webkit-border-bottom-left-radius:8px;
    border-right: #5252ff 3px solid;
    border-bottom: #5252ff 3px solid;
}

div#opciones-menu{
    height: 25px;
    float: right;
    margin-left: 20px;
    margin-top: 5px;
    font-size: 14px;
    
   
}


#content {
    margin: 0 auto;
    background-color:#FFFFFF;
    clear:both;
    overflow:hidden;
    
    color: #333333;
    padding-bottom:25px;
    min-height: 100%;
    width:950px;
    text-align:left;
    min-height:500px;
    height: auto;
    
}
#main-content{
    float:left;
    width:77%;
    overflow:hidden;
    height:auto !important;
    min-height: 400px;
    



}



#pre-footer{
    border-top: #777777 2px solid;
    margin: 0 auto;
    background-color:#4d4d4d;
    clear:both;
    overflow:hidden;
    padding-top: 10px;
    color: #EEEEEE;
    padding-bottom:15px;
    width:950px;
}
#pre-footer a:link{
    color: #CEEFF3;
    text-decoration:none;
}
#pre-footer a:visited{
    color: #CEEFF3;
    text-decoration:none;
}
#pre-footer a:hover{
    text-decoration:underline;

}




#footer{
    margin: 0 auto;
    width:950px;
    background:#000;
    color:white;
    height: 30px;
    -moz-border-radius-bottomright:8px;
    -moz-border-radius-bottomleft:8px;
    -webkit-border-bottom-right-radius:8px;
    -webkit-border-bottom-left-radius:8px;
    padding-top:10px;
    text-align:right;
    font-size:12px;
  }
 






#notice{
    background-color: #FFFBE2;
    border: #FFE222 1px solid;
    margin-bottom: 10px;
    padding: 5px;
    background-image: url('/images/information.png');
    background-position:center left;
    background-repeat:no-repeat;
    text-indent:25px;
    font-weight: bold;
}

#error{
    border: #FF0000 1px solid;
    margin-bottom: 10px;
    padding: 5px;
    background-image: url('/images/exclamation.png');
    background-position:center left;
    background-repeat:no-repeat;
    text-indent:25px;
    font-weight: bold;
}


#blog{
    text-align:left;
    float:right;
    width:50%;
    margin-right:10px;
    min-height:350px;
    -moz-border-radius-topleft:8px;
    -moz-border-radius-bottomright:8px;
    -webkit-border-bottom-right-radius:8px;
    -webkit-border-top-left-radius:8px;
    border: #FFFF99 1px solid;
}

#blog li{
    list-style:none;
    margin-bottom:15px;
}
#blog b{
    display:none;
}

#title{
    font-weight:bold;
    font-size:18px;
    color:#7095ad;
    padding-left:10px;
}


/* MENU NAV */
#menu-nav{
    float:right;
    width:670px;
    font-size:13px;
    font-weight:bold;
}

#menu-nav ul{
    list-style:none;
}

#menu-nav ul li{
    float:left;
    padding:6px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    background-color:#000;
    color:#FCCE3C;
    cursor:pointer;
    margin-right:2px;
}
#menu-nav li:hover{
    color:#FFF;

}

#breadcrumb{
    text-align:left;
    padding-left:20px;
    font-size:12px;
    color:#b0b0b0;
}
#breadcrumb a{
    color:#b0b0b0;
}
#breadcrumb a:hover{
    color:#b0b0b0;
    text-decoration:underline;
}
.section-title{
    margin-top:5px;
    text-align:left;
    margin-left:20px;
    margin-right:20px;
    font-family: Georgia, Sans-serif;
    font-weight:normal;
    border-bottom: #b0b0b0 1px solid;
    background: url(/nuevo-ipcorp/images/contactenos.png) right;
    background-repeat:no-repeat;

}

#title-legend{
    font-family: Georgia, Sans-serif;
    font-size:18px;
    font-style:italic;
    text-align:left;
    margin-left:20px;
    margin-right:20px;

}

.content-legend{
    margin-left:20px;
    margin-right:20px;
    text-align:left;
}
.ipcorp-ul{
    text-align:left;
    list-style:url(/nuevo-ipcorp/images/lstyle.png);
    line-height:25px;

}
.persona{
    width:265px;
    vertical-align:top;
    text-align:left;
    display:inline-block;
    margin:0 16px 20px;

}
.persona span.photo{
    float:left;
    margin: 0 10px 5px 0;
}

.persona h3{
    margin-bottom:0;

}

.persona small{
    color:#777777;
    font-size:14px;
}

.persona .biografia{
    border-color:#FCCE3C;
    border-top:3px solid #FCCE3C;
    clear:left;
    margin-top:13px;
    padding-top:5px;
    font-size:12px;
    text-align:justify;
}

.customer-image{
    float:left;
    width:270px;
    height:220px;
    background: url(/nuevo-ipcorp/images/oran.png);
    text-align:center;
}

.customer-image2{
    float:left;
    width:270px;
    height:220px;
    background: url(/nuevo-ipcorp/images/bg2.jpg);
    text-align:center;
}

.customer-image img{
    width:250px;
    height:200px;
    vertical-align:middle;
    margin-top:10px;
}
.customer-image2 img{
    width:250px;
    height:200px;
    vertical-align:middle;
    margin-top:10px;
}

.customer-legend{
    float:left;
    width:500px;
    margin-top:50px;
    padding-left:10px;
    text-align:justify;
}

#login-form{
    padding-left:10px;

}

form{
    margin-left:10px;
}
table {
    font-size:12px;
}

.table-search{
    width:auto;
    border-bottom: #9BAFF1 7px solid;

    border-top: #9BAFF1 7px solid;
    border-left: #eaeaea 1px solid;
    border-right: #eaeaea 1px solid;
    border-collapse:collapse;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;


}
.table-search th{
    padding:4px;
    text-align:left;
    border-left: 1px solid #AABCFE;
    border-right: 1px solid #AABCFE;
    border-bottom: #eaeaea 1px solid;
    background: #E8EDFF;


}
.table-search tr:hover{
    color:#669;
}
.table-search td{
    padding:4px;
    border-left: 1px solid #AABCFE;
    border-right: 1px solid #AABCFE;
    border-bottom: #FFF 1px solid;
    background: #E8EDFF;
}
.tooltip-menu{
    padding:0;
    margin:0;

}
.tooltip-menu li{
    padding:3px;
}

.show-data{
   font-size: 12px;
    border-collapse:collapse

}
.show-data tr.odd{
    background: #E8EDFF;
}
.show-data td.fieldname{
    padding:4px;
    font-weight: bold;
    width:180px;
}
.show-data td.fielddata{
    padding:4px;
    width:340px;

}

.table-list{
    border-collapse: collapse;
    border-left: #EAEAEA 1px solid;
    
}

.table-list td{
    padding:4px;
    padding-left:6px;
    border-bottom: #EAEAEA 1px solid;
}

.table-list tr.odd{
    background-color: #eaeaea;
}

.table-list th{
    text-align: left;
    padding:4px;
    color:#FFF;
    background-color: #5252FF;
    font-size: 13px;

}


/*-----------------FORMS STYLES ---------------------------*/
ul#form{
    list-style: none;
    
}

ul#form li{
    line-height: 23px;
    
    
}

ul#form li:hover{
    text-decoration:none;
}
ul#form label{
    font-weight:bold;
    display: inline-block;
    line-height: 1.9;
    vertical-align: top;
    width: 100px;
}
input, select{
    font-family: Tahoma, Sans-serif;
    font-size: 12px;
    
}
.fieldWithErrors {
  padding: 3px;
  background-color: red;
  display: inline;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  
  
  
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  font-size: 12px;
  margin: -7px;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  
}
#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

.normal{
    width: 200px;
    border: gray 1px solid;
}
.date-select{
    width: 66px;
    border: gray 1px solid;
}

#search-form{
    list-style:none;
    width:70%;
    text-align:left;
    background-color:#ECF4FF;
    border: #eaeaea 1px solid;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    width:70%;
    padding-top:20px;
    padding-bottom:15px;
    padding-right:15px;

}
#search-form label{
    font-weight:bold;
    font-size:14px;
    display: inline-block;
    line-height: 1.6;
    vertical-align: top;
    width: 160px;


}
#search-form li{
    line-height: 1.6;
}
#search-form input[type='text']{
    width:250px;
    border: gray 1px solid;
}

#single-form{
    margin:0;
}
#single-form input[type='text']{
    font-size:12px;
    height:18px;

    border: #eaeaea 1px solid

}

/* divs */

#pacientes-screen{
    width:95%;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border: #eaeaea 2px solid;
    min-height:600px;
    margin-left:10px;
    padding:10px;
    
}
#pacientes-photo{
    width:90px;
    height:90px;
    border: #eaeaea 2px solid;
    /*-moz-border-radius: 8px;
    -webkit-border-radius: 8px;*/
    float:left;
}
#pacientes-options{
    border: #eaeaea 2px solid;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    float:left;
    height:90px;
    width:82%;
    margin-left:10px;
}
#pacientes-nombre{
    float:left;
    margin-left:10px;
    margin-top:30px;
    font-size:22px;
    font-weight:bold;
    
}
#pacientes-actions{
    float:right;
    margin-right:10px;
    margin-top:23px;
    border: #ECF4FF 2px solid;
    padding:4px;
}
/* FIELDSETS */

.pacientes-data{
    float:left;
    width:79%;
    margin-left: 10px;
    border: #eaeaea 2px solid;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    margin-top:5px;
    padding-left:10px;
  
}

.pacientes-data legend{
    font-size: 16px;
     font-weight:bold;
}


/* BOXY   */

.boxy-wrapper { position: absolute; }
.boxy-wrapper.fixed { position: fixed; }

/* Modal */

.boxy-modal-blackout { position: absolute; background-color: black; left: 0; top: 0; }

/* Border */

.boxy-wrapper { empty-cells: show; }
.boxy-wrapper .top-left,
.boxy-wrapper .top-right,
.boxy-wrapper .bottom-right,
.boxy-wrapper .bottom-left { width: 10px; height: 10px; padding: 0 }

.boxy-wrapper .top-left { background: url('/images/boxy/boxy-nw.png'); }
.boxy-wrapper .top-right { background: url('/images/boxy/boxy-ne.png'); }
.boxy-wrapper .bottom-right { background: url('/images/boxy/boxy-se.png'); }
.boxy-wrapper .bottom-left { background: url('/images/boxy/boxy-sw.png'); }

/* IE6+7 hacks for the border. IE7 should support this natively but fails in conjuction with modal blackout bg. */
/* NB: these must be absolute paths or URLs to your images */
.boxy-wrapper .top-left { #background: none; #filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/boxy/boxy-nw.png'); }
.boxy-wrapper .top-right { #background: none; #filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/boxy/boxy-ne.png'); }
.boxy-wrapper .bottom-right { #background: none; #filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/boxy/boxy-se.png'); }
.boxy-wrapper .bottom-left { #background: none; #filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/boxy/boxy-sw.png'); }

.boxy-wrapper .top,
.boxy-wrapper .bottom { height: 10px; background-color: black; opacity: 0.6; filter: alpha(opacity=60); padding: 0 }

.boxy-wrapper .left,
.boxy-wrapper .right { width: 10px; background-color: black; opacity: 0.6; filter: alpha(opacity=60); padding: 0 }

/* Title bar */

.boxy-wrapper .title-bar { background-color: black; padding: 6px; position: relative; }
  .boxy-wrapper .title-bar.dragging { cursor: move; }
    .boxy-wrapper .title-bar h2 { font-size: 12px; color: white; line-height: 1; margin: 0; padding: 0; font-weight: normal; }
    .boxy-wrapper .title-bar .close { color: white; position: absolute; top: 6px; right: 6px; font-size: 90%; line-height: 1; }

/* Content Region */

.boxy-inner { background-color: white; padding: 0 }
.boxy-content { padding: 15px; }

/* Question Boxes */

.boxy-wrapper .question { width: 350px; min-height: 80px; }
.boxy-wrapper .answers { text-align: right; }


/*-------------------------------------------------------------*/

/* Galeria de imagenes*/

#slideshow {
	margin:0 auto;
	width:640px;
	height:263px;
	position:relative;
}
#slideshow #slidesContainer {
  margin:0 auto;
  width:560px;
  height:263px;
  overflow:auto; /* allow scrollbar */
  position:relative;
}
#slideshow #slidesContainer .slide {
  margin:0 auto;
  width:540px; /* reduce by 20 pixels of #slidesContainer to avoid horizontal scroll */
  height:263px;
}

.control {
  display:block;
  width:39px;
  height:263px;
  
  position:absolute;
  cursor: pointer;
}
#leftControl {
  top:0;
  left:0;
  padding-top: 120px;
  font-size: 20px;
  font-weight: bold;
}
#rightControl {
  top:0;
  right:0;
  padding-top: 120px;
  font-size: 20px;
  font-weight: bold;
}

.slide h2, .slide p {
  margin:15px;
}
.slide h2 {
  font:italic 16px; /*Georgia, "Times New Roman", Times, serif;*/
  font-weight: bold;
  letter-spacing:-1px;
}
#eliminar-img{
    font: normal 13px tahoma;
}
.slide img {
  float:right;
  margin:0 15px;
}
.slide{
    background-color: #E8EDFF;
    -moz-border-radius: 8px;
}



/*Fin galeria de imagenes--------------------------------------------*/

.labels{
    font-weight: bold;
    width: 50px;
    
}
.historia_clinica td{
    width: 380px;
}
tr.odd{
    background: #E8EDFF;
    
}
.historia_clinica tr{
    height: 32px;
}
.historia_clinica{
    border-collapse: collapse;
}
.ortodoncia{
    border-collapse: collapse;
}
.ortodoncia td{
    width: 40%;
}
.ortodoncia tr{
     height: 32px;
}



