body{
    height: 100%;
    margin:0px;
    padding:0px;
    font: 12px Lucida Grande, Lucida Sans ,Arial, Sans-serif;
}
h1{
    margin:2px;
    font-size: 16px;
}
a{
    color:orangered;
    text-decoration: none;
    font-weight: ninguno;
}



fieldset{
    width:auto;
}
img{
    vertical-align: middle;
    border:none;
}
legend { padding: 0.5em}
fieldset fieldset label { display: block; }
a:hover{
    text-decoration: underline;
}

a.no-hover:hover{
    text-decoration: none;
}


/*odontograma-------------------------------------*/


#contenedor {
    width: 50px;
    height: 41px;
    position: relative;
    border-color: black;
        
}

.borde,
.contenido {
    position:  absolute;
   
}
    .borde.superior,
    .borde.inferior {
        width: 46px;
        height: 10px;
        border-width: 1px;
        border-style : solid;
        border-color : black;
        padding : 1;
    
    }

    .borde.izq,
    .borde.der {
        width: 10px;
        height: 39px;
        border-width: 1px;
        border-style : solid;
        border-color : black;
        padding : 2;
    }

    .borde.superior {
        background-color: #ffffff;
        top: 0;
 
      
    }

    .borde.inferior {
        background-color: #ffffff;
        bottom: 0;
       

       
    }

    .borde.izq {
        background-color: #ffffff;
        left: 0;
     
      
    }

    .borde.der {
        background-color: #ffffff;
        right: 0;
      
        
    }

    .activo {
    background-color: #ffffff;
  
}

.linea {
        width: 200px;
        height: 2px;
        background-color: #000000;
    }


.contenido {        
        width: 26px;
        height: 19px;
        top: 10px;
        left:11px;
        background-color: #ffffff;
        border-width: 1px;
        border-style : solid;
        border-color : black;
        padding : 2;
      
    }
    


/*-------------------------------------------------------------*/

div#main{
    height: 100%;
    margin: 0px auto -8.6em;
    min-height: 100%;
}
div#header{
    background: #FCFCFC url(/images/header_bg.gif) repeat-x 0px 100%;
    height: 60px;
    min-width: 950px;
}

div#logo{
    text-indent: 20px;
    font-size:30px;
    font-weight: bold;
    padding-top: 10px;
    float:left;
 }
 div#session-data{
     padding-top: 20px;
     padding-right: 20px;
     float:right;
}
div#container{
    padding: 1.5em 2em 1em;
    background-color: #FBFBFB;
    overflow: hidden;
   
}
div#content{
   background-color: #FFFFFF;
   min-height: 600px;
   
}
div#wrapper{
   padding:10px;
}



div#login-form{
    background-color: #99CCFF;
    padding: 30px;
    width: 180px;
    border: black 2px solid;
    border-radius:18px;
    -moz-border-radius:18px;
    font-weight: bold;
}
div#remember-form{
    background-color: #99CCFF;
    padding: 30px;
    width: 230px;
    border: black 2px solid;
    border-radius:18px;
    -moz-border-radius:18px;
    font-weight: bold;
}

div#boton{
    float:left;
    width:130px;
    padding:4px;
    text-align:center;
    margin-right: 3px;
}
div#boton:hover{
    border: 1px solid #74b2e2; 
    background: #e4f1fb url(/images/ui-bg_glass_100_e4f1fb_1x400.png) 50% 50% repeat-x;
    font-weight: bold;
    color: #0070a3;
    outline: none;
}

.error{
    color:red;
}
/* --------------------------- */
.green{
    color:green;
}

.red{
    color:red;
}

.blue{
    color:blue;
}

/*------------------------------*/
.highlight{
    background-color:#feea77;
    font-weight: normal;
}

.errorExplanation {
    color: red;
}
.tooltip-menu{
    padding:0;
    margin:0;
    list-style: none;

}
.tooltip-menu li{
    padding:2px;
}



.listados{
    border-collapse: collapse;
   border: 1px solid #F8ECE0;
   width : 45%;  

}

.listados th p{
    padding-left: 7px;
    padding-right: 7px;
    text-align: left;
    border: 1px solid #F2F2F2;
    
}
.listados th i{
    padding:4px;
    text-align: center;
    
}
.listados th.a-right{
    text-align: right;
}
.listados tr.par {
     background-color: #FFF;
}
.listados tr.impar {
    background-color: #DDD;
}

.listado{
    border-collapse: collapse;
   border: 1px solid #F8ECE0;
   width : 80%;
}

.listado th par{
    padding-left: 7px;
    padding-right: 7px;
    text-align: left;
    border: 1px solid #F2F2F2;
    
}
.listado th impar{
    padding-left:7px;
    text-align: left;
    padding-right: 7px;
    border: 1px solid #F2F2F2;
}


.listado th.a-right{
    text-align: right;
}
.listado tr.par {
     background-color: #FFF;
}
.listado tr.impar {
    background-color: #DDD;
}



/*-----------------FORMS STYLES ---------------------------*/
ul#form{
    list-style: none;
    

}

ul#form li{
    line-height: 23px;
    
}
ul#form li.border-bottom{
    line-height: 30px;
    border-bottom: #0066CC 1px solid;
}

ul#form li:hover{
    text-decoration:none;
}
ul#form label{
    font-weight:bold;
    display: inline-block;
    line-height: 1.9;
    vertical-align: top;
    width: 180px;
}





/* PAGINATION */
.pagination {
   padding: 3px;
   margin: 3px;
 }
 .pagination a {
   padding: 2px 5px 2px 5px;
   margin: 2px;
   border: 1px solid #3333CC;
   text-decoration: none;
   color: #3333CC;
 }
 .pagination a:hover , .pagination a:active {
   border: 1px solid #0066CC;
   color: #0066CC;
 }
 .pagination span.current{
   padding: 2px 5px 2px 5px;
   margin: 2px;
   border: 1px solid #3333CC;
   font-weight: bold;
   background-color: #3333CC;
   color: #FFF;
 }
 .pagination span.disabled{
   padding: 2px 5px 2px 5px;
   margin: 2px;
   border: 1px solid #eee;
   color: #ddd;
 }
 .ajax-pagination {
   padding: 3px;
   margin: 3px;
 }
 .ajax-pagination a {
   padding: 2px 5px 2px 5px;
   margin: 2px;
   border: 1px solid #3333CC;
   text-decoration: none;
   color: #3333CC;
 }
 .ajax-pagination a:hover , .ajax-pagination a:active {
   border: 1px solid #0066CC;
   color: #0066CC;
 }
 .ajax-pagination span.current{
   padding: 2px 5px 2px 5px;
   margin: 2px;
   border: 1px solid #3333CC;
   font-weight: bold;
   background-color: #3333CC;
   color: #FFF;
 }
 .ajax-pagination span.disabled{
   padding: 2px 5px 2px 5px;
   margin: 2px;
   border: 1px solid #eee;
   color: #ddd;
 }



/* BOXY   */

.boxy-wrapper { position: absolute; }
.boxy-wrapper.fixed { position: fixed; }

/* Modal */

.boxy-modal-blackout { position: absolute; background-color: black; left: 0; top: 0; }

/* Border */

.boxy-wrapper { empty-cells: show; }
.boxy-wrapper .top-left,
.boxy-wrapper .top-right,
.boxy-wrapper .bottom-right,
.boxy-wrapper .bottom-left { width: 10px; height: 10px; padding: 0 }

.boxy-wrapper .top-left { background: url('/images/boxy/boxy-nw.png'); }
.boxy-wrapper .top-right { background: url('/images/boxy/boxy-ne.png'); }
.boxy-wrapper .bottom-right { background: url('/images/boxy/boxy-se.png'); }
.boxy-wrapper .bottom-left { background: url('/images/boxy/boxy-sw.png'); }

/* IE6+7 hacks for the border. IE7 should support this natively but fails in conjuction with modal blackout bg. */
/* NB: these must be absolute paths or URLs to your images */
.boxy-wrapper .top-left { #background: none; #filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/boxy/boxy-nw.png'); }
.boxy-wrapper .top-right { #background: none; #filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/boxy/boxy-ne.png'); }
.boxy-wrapper .bottom-right { #background: none; #filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/boxy/boxy-se.png'); }
.boxy-wrapper .bottom-left { #background: none; #filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/boxy/boxy-sw.png'); }

.boxy-wrapper .top,
.boxy-wrapper .bottom { height: 10px; background-color: black; opacity: 0.6; filter: alpha(opacity=60); padding: 0 }

.boxy-wrapper .left,
.boxy-wrapper .right { width: 10px; background-color: black; opacity: 0.6; filter: alpha(opacity=60); padding: 0 }

/* Title bar */

.boxy-wrapper .title-bar { background-color: black; padding: 6px; position: relative; }
  .boxy-wrapper .title-bar.dragging { cursor: move; }
    .boxy-wrapper .title-bar h2 { font-size: 12px; color: white; line-height: 1; margin: 0; padding: 0; font-weight: normal; }
    .boxy-wrapper .title-bar .close { color: white; position: absolute; top: 6px; right: 6px; font-size: 90%; line-height: 1; }

/* Content Region */

.boxy-inner { background-color: white; padding: 0 }
.boxy-content { padding: 15px; }

/* Question Boxes */

.boxy-wrapper .question { width: 350px; min-height: 80px; }
.boxy-wrapper .answers { text-align: right; }


.demo-show {
    width: auto;
    margin: 1em .5em;
}
.demo-show h3{
    margin: 0;
    padding: .25em;
    font-size: 12px;

}
.demo-show h3 a{
    font-weight: bold;
}

.demo-show div {
    padding: .5em .25em;
}

