<fieldset class="ui-widget ui-widget-content ui-corner-top">
  <legend class="ui-widget ui-corner-all ui-widget-header">Nuevo Per&iacute;odo</legend>
<% form_for(@periodo_obra_social) do |f|  %>
 <%= f.error_messages(:id => 'error', :header_message => '', :message => 'Ocurri칩 un error al intentar guardar el registro')  %>


  <div class="errores">
    <ol style="list-style:none"></ol>
  </div>


  <table  style=" text-align: left;">
    <tr>
      <th>Per&iacute;odo</th>
      <td><%= f.date_select(:mes,  :order => [:month, :year], :use_month_names => ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'], :start_year => 2011, :title => 'Ingrese un periodo', :size=> 15 , :prompt => {:month => 'Seleccione Mes', :year => 'Seleccione A침o'}) %> </td>
    </tr>

    <tr>

      <td><%#= f.date_select :anio, :order => [:year], :prompt => false, :size=> 15, :class => 'required', :prompt => {:year => 'Seleccione'} %> </td>
    </tr>
   <!--<tr>
    <tr>
      <th>Fue liquidado?</th>
      <td><%#= f.check_box :fue_liquidado, :class=> 'ui-widget-content required'  %> </td>
    </tr>

    <tr>
      <th>Fecha de liquidacion</th>
      <td><%#= f.date_select :fecha_liquidacion, :order => [:day,:month,:year],  :use_month_names => ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre',
                                                       'Octubre', 'Noviembre', 'Diciembre'], :class=> 'ui-widget-content required', :prompt => {:year => 'Seleccione A침o', :month => 'Seleccione Mes', :day => 'Seleccione Dia'}  %> </td>
    </tr> -->




  </table>

 <table>
        <tr>
          <td style=" float: left; margin-left: 900px">
             <%= link_to 'Volver', buscar_periodos_obras_sociales_path %>
            <%= f.submit 'Registrar' , :class => 'submit ui-button ui-widget ui-state-default ui-corner-all' %>

          </td></tr>
  </table>

  <%end%>
</fieldset>


<script type="text/javascript">
 $(document).ready(function(){
    $('#periodo_obra_social_mes_2i').attr('class', 'required'),
    $('#periodo_obra_social_mes_1i').attr('class', 'required'),
    $('#periodo_obra_social_mes_2i').attr('title', 'Seleccione un Mes'),
    $('#periodo_obra_social_mes_1i').attr('title', 'Seleccione un A침o'),

    $(".new_periodo_obra_social").validate({

        //errorLabelContainer: $("#new_paciente div.errores")
       errorContainer: $(".new_periodo_obra_social div.errores"),
       errorLabelContainer: $("ol", $(".new_periodo_obra_social div.errores")),
       wrapper: 'li',
       meta: "validate"


    });

 });
</script>
