<fieldset class="ui-widget ui-widget-content ui-corner-top">
  <legend class="ui-widget ui-widget-content ui-corner-all ui-widget-header">Liquidacion</legend>
  <table>
    <tr><td>
<%= @result[0].liquidacion.to_s %>
      </td></tr>
  </table>
</fieldset>
