<fieldset class="ui-widget ui-widget-content ui-corner-top">
  <legend class="ui-widget ui-widget-content ui-corner-all ui-widget-header">Nuevo Tipo Documento</legend>

<% form_for(@tipo_documento) do |f| %>
  <%= f.error_messages %>
<table style=" text-align: left;">

  <tr>
    <th>Descripcion del tipo documento</th> 
    <td><%= f.text_field :descripcion , :size => 15, :class=>'ui-widget-content required'%></td>
  </tr>
</table>

<table>

  <tr>
    <td style=" float: left; margin-left:  800px"><%= f.submit 'Ver', :class=>'ui-widget-content required' %>
    <%= link_to 'Volver', tipos_documento_path %>
  </td>

  </tr>

</table>

<% end %>


</fieldset>
