<span style="padding-left:10px;font-weight:bold;">Pacientes</span>
<ul>
  <li><%= link_to image_tag('find.png') + ' Buscar', search_pacientes_url %></li>
  <li><%= link_to image_tag('add.png') + ' Nuevo', new_paciente_url %></li>
</ul>