<ul>
  <%unless session[:subitems].blank? %>
    <% session[:subitems].each do  |subitem| %>
      
      <li><%= image_tag(subitem.url_imagen) unless subitem.url_imagen.blank? %><a href="<%= subitem.url %>"><%= subitem.nombre %></a></li>


    <%end%>
  <%else%>
      
      
  <%end%>
</ul>
