<ul id="tabs">
<%unless session[:user_menu].blank? %>
  <% session[:user_menu].each do |item| %>
  <li <%if controller.controller_name.downcase == item.nombre.downcase %> class="selected" <%end%>
            onclick="javascript:location.href='<%= item.url  %>?item_selected=<%= item.id %>'"><%= item.nombre %></li>

  <%end%>
<%end%>
</ul>
