<h1>Buscar titular</h1>

 <% form_remote_tag :url => resultado_titulares_path,
                   :method => :post, :update => :search_hits do -%>
    <ul id="search-form">
        <li>
          <label>Nombre</label>
          <%= text_field_tag :nombre %>
        </li>
        <li>
          <label>Matrícula</label>
          <%= text_field_tag :matricula %>
        </li>
        
        <li>
          <label></label>
          <%= submit_tag 'Buscar' %>
        </li>
      </ul>
<%end -%>
<div id ="search_hits">

</div>
