<fieldset class="ui-widget ui-widget-content ui-corner-top">
  <legend class="ui-widget ui-widget-content ui-corner-all ui-widget-header">Resultado</legend>
<table class="table-list">
  <tr class="<%  cycle('par','impar') %>">
    <th>Fecha</th>
    <th>Profesional</th>
    <th>Estado</th>
  </tr>

<% @fichas.each do |ficha| %>
  <tr>
    <td><%=h ficha.fecha %></td>
    <td><%=h ficha.profesional.nombre %></td>
    <td><%=h ficha.estado_id %></td>
    <td><%= link_to 'Ver Mas', ver_ficha_path(ficha), :id => 'ver' %></td>
    

  </tr>
<% end %>
</table>
</fieldset>
<br />
<script type="text/javascript">
    $('#ver').fancybox(
        {
      'hideOnContentClick': false,
      'titleShow': false

    });
     $.fancybox.resize();
  </script>