<table id="table-list">
  <tr>
    <td><h1>Ficha de <%= @ficha.paciente.nombre %></h1></td></tr>
<tr>
<td>
<td></td>
  <td>
</td>
</td>
</tr>

<tr>
<td>
  <td</td>
  <td>
</td>
</td>
</tr>

<tr>
<td>
<td></td>
  <td>
</td>
</td>
</tr>
</table>

<%= link_to 'Volver', fichas_path(@fichas) %>