<fieldset class="ui-widget ui-widget-content ui-corner-all">
    <legend class="ui-widget ui-widget-header ui-corner-all">Cambiar Clave</legend>
    <% form_tag establecer_nueva_clave_usuarios_url, :id => 'form_cambiar_clave' do -%>
  <table style=" text-align: left;">
    <tr>
        <td>Clave anterior</td>
        <td><%= password_field_tag  :clave_anterior, nil ,:class => 'required ui-widget-content', :id => 'clave_anterior'  %>
        </td>
    </tr>
    <tr>
     
        <td>Clave nueva</td>
        <td><%= password_field_tag :clave_nueva,nil ,:class => 'required ui-widget-content'  %>
      </td>
    </tr>
    <tr>
        <td>Reescriba Clave nueva</td>
        <td><%= password_field_tag :confirma_clave_nueva, nil ,:class => 'required ui-widget-content'  %>
      </td>
    </tr>
  </table>
    <table>
      <tr>
        <td  style=" float: left; margin-left:  350px">
        <%= submit_tag "Cambiar" %>
        <input type="button" class="button" value="Cancelar"  onclick="location.href='/usuarios/buscar/'" />
        </td>
      </tr>

  </table>
    <% end -%>
</fieldset>
<script type="text/javascript">
 $(document).ready(function(){
 $("#form_cambiar_clave").validate({

       wrapper: 'li',
       meta: "validate",
       rules :{
          "[confirma_clave_nueva]":{required:true, equalTo: "[clave_nueva]" }
          //"#password":{required:true, remote:"/usuarios/verificar_clave_email?usuario[password]=" + $('#password').val()  }
       },
        messages:{
           "[confirma_clave_nueva]":{equalTo:'Contraseña y Confirmacion no coinciden'}
        }
 });
 })
</script>