<fieldset class="ui-widget ui-widget-content ui-corner-top">
  <legend class="ui-widget ui-widget-content ui-corner-all ui-widget-header">Usuario</legend>
 <table style=" text-align: left;">
   
 <tr>
  <th> Nombre</th>
  <td><%=h @usuario.login %> </td>
  </tr>

 <tr>
  <th>E-mail</th>
  <td><%=h @usuario.email %> </td>
  </tr>

   <tr>
  <th>Admin</th>
  <td><%= boolean_desc(@usuario.administrador) %> </td>
  </tr>


 </table>
  </fieldset>

