<fieldset class="ui-widget ui-widget-content ui-corner-top">
  <legend class="ui-widget ui-widget-content ui-corner-all ui-widget-header">Usuario</legend>
 <table style=" text-align: left;">
   
 <tr>
  <th> Nombre de Usuario</th>
  <td><%=h @usuario.login %> </td>
  </tr>

 <tr>
  <th>Correo electronico</th>
  <td><%=h @usuario.email %> </td>
  </tr>

  <tr>
  <th>Perfil</th>
  <td><%=h @usuario.perfil_id %> </td>
  </tr>


 </table>
  </fieldset>

