<fieldset class="ui-widget ui-widget-content ui-corner-top">
  <legend class="ui-widget ui-widget-content ui-corner-all ui-widget-header">Resultado</legend>
<table class="table-list">
  <tr>
    <th>Fecha</th>
    <th>Profesional</th>
    <th>Estado</th>
  </tr>

<% @tratamientos.each do |tratamiento| %>
  <tr>
    <td><%=h tratamiento.fecha %></td>
    <td><%=h tratamiento.profesional.nombre %></td>
    <td><%=h tratamiento.estado_tratamiento.descripcion %></td>
   
    <td><%= link_to 'Ver Mas', ver_tratamiento_path(), :title => 'Vista Rapida', :id=> 'ver' %></td>

  </tr>
<% end %>
</table>
</fieldset>
<br />
<script type="text/javascript">
    $('#ver').fancybox(
        {
      'hideOnContentClick': false,
      'titleShow': false

    });
  </script>