<% unless @tratamientos.blank? %>
  <h1>Resultado</h1>
<table class="table-list">
  <tr>
    <th>Fecha</th>
    <th>Profesional</th>
    <th>Estado</th>
  </tr>

<% @tratamientos.each do |tratamiento| %>
  <tr>
    <th><%=h tratamiento.fecha.strftime('%d/%m/%Y') %></th>
    <th><%=h tratamiento.profesional.nombre %></th>
    <th><%=h tratamiento.estado_tratamiento.nombre %></th>
    <th><%= link_to 'Ver Mas', ver_tratamiento_path(tratamiento), :id=> 'vista' %></th>
   </tr>
<% end %>
 
<%else%>
   <th>No se encontraron resultados</th>

<% end %>

</table>


<br />
<script type="text/javascript">
    $('#vista').fancybox(
        {
      'hideOnContentClick': false,
      'titleShow': false

    });
    $.fancybox.resize();
      </script>