<fieldset class="ui-widget ui-widget-content ui-corner-top">
  <legend class ="ui-widget ui-widget-content ui-corner-all ui-widget-header">Clinica</legend>
<% form_for(@consultorio) do |f| %>
  <%= f.error_messages  :id => 'error', :header_message => '', :message => 'Ocurrió un error al intentar guardar el registro'  %>

  <div class="errores">
    <ol style="list-style:none"></ol>
  </div>

  <table style=" text-align: left; ">
  <tr>
  <th>
   Clínica</th>
  <td><%= f.collection_select :clinica_id, Clinica.all, :id, :nombre,  {:include_blank => 'Seleccione',:class=>'ui-widget-content', :title => 'Seleccione un profesional'} %><!--después cambiar por la vble de sesión clínica-->
  </td>
  </tr>

  <tr>
  <th>
    Nombre</th>
  <td><%= f.text_field :nombre, :class => 'ui-widget-content required', :size => 15, :title => 'Ingrese el nombre' %>
  </td>
  </tr>
  </table>

  <table>
    <tr>
    <td style=" float: left; margin-left: 200px">
    <%= f.submit 'Guardar' , :class => 'submit ui-button ui-widget ui-state-default ui-corner-all'%></td>
    </tr>
  </table>

</fieldset>
<% end %>


<script type="text/javascript">

  function validate(e) { // 1
    tecla = (document.all) ? e.keyCode : e.which; // 2
    if (tecla==8) return true; // 3
    patron =/\d/; //4
    te = String.fromCharCode(tecla); // 5
    return patron.test(te); // 6
}


function validar(e) { // 1
    tecla = (document.all) ? e.keyCode : e.which; // 2
    if (tecla==8) return true; // 3
    patron =/[A-Za-zñÑ\s]/; //4
    te = String.fromCharCode(tecla); // 5
    return patron.test(te); // 6
}

function valida(e) { // 1
    tecla = (document.all) ? e.keyCode : e.which; // 2
    if (tecla==8) return true; // 3
    patron =/\w/; //4
    te = String.fromCharCode(tecla); // 5
    return patron.test(te); // 6
}

$(document).ready(function(){
     $(function() {
        $('input:text').keydown(function(e){
        if (e.keyCode == 13) {
            $('form').submit();
        }
      });
     });


     $('#consultorio_clinica_id').attr('class', 'ui-widget-content required')
      $('#consultorio_clinica_id').attr('title', 'Seleccione el consultorio')
     
    $(".new_consultorio").validate({
        //errorLabelContainer: $("#new_paciente div.errores")
       errorContainer: $(".new_consultorio div.errores"),
       errorLabelContainer: $("ol", $(".new_consultorio div.errores")),
       wrapper: 'li',
       meta: "validate"
     });

  });
</script>