<fieldset class="ui-widget ui-widget-content ui-corner-top">
  <legend class ="ui-widget ui-widget-content ui-corner-all ui-widget-header">Consultorio</legend>

<table  style=" text-align: left; ">
  <tr>
     <th>Clinica:<%=h @consultorio.clinica.nombre %></th>
  </tr>
  <tr>
     <th>Consultorio: <%= @consultorio.nombre  %> </th>
  </tr>
</table>



</fieldset>




