<% form_for(@estado_laboral) do |f| %>
  <%= f.error_messages  :id => 'error', :header_message => '', :message => 'Ocurrió un error al intentar guardar el registro'  %>
<ul id="form">
  <li>
     <label for="descripcion">Descripcion </label>
    <%= f.text_field :descripcion, :class => 'normal' %>
  </li>
  <li><label></label>
    <%= f.submit 'Guardar' %>
  </li>
 </ul>
  
<% end %>

<%= link_to 'Volver', estados_laborales_path %>