<p>
  <b>Prestación:</b>
  <%=h @arancel.prestacion.codigo %> - <%=h @arancel.prestacion.descripcion %>
</p>

<p>
  <b>Importe Cubierto:</b>
  <%=h @arancel.importe_cubierto%>
</p>

<p>
  <b>Coseguro:</b>
  <%=h @arancel.coseguro %>
</p>
