<fieldset class="ui-widget ui-widget-content ui-corner-top">
  <legend class ="ui-widget ui-widget-content ui-corner-all ui-widget-header">Arancel</legend>
<table style=" text-align: left;">
  <tr>
  <th>Prestación:</th>
  <td><%=h @arancel.prestacion.codigo %> - <%=h @arancel.prestacion.descripcion %>
  </td>
  </tr>


  <tr>
  <th>Importe Cubierto:</th>
  <td><%=h number_to_currency(@arancel.importe_cubierto) %>
  </td>
  </tr>

  <tr>
  <th>Coseguro:</th>
  <td><%=h number_to_currency(@arancel.coseguro) %>
  </td>
  </tr>
</table>

</fieldset>