<fieldset class="ui-widget ui-widget-content ui-corner-top">
  <legend class ="ui-widget ui-widget-content ui-corner-all ui-widget-header">Arancel</legend>
<table class="table-list">
  <tr>
  <td>Prestación:</td>
  <td><%=h @arancel.prestacion.codigo %> - <%=h @arancel.prestacion.descripcion %>
  </td>
  </tr>


  <tr>
  <td>Importe Cubierto:</td>
  <td><%=h @arancel.importe_cubierto%>
  </td>
  </tr>

  <tr>
  <td>Coseguro:</td>
  <td><%=h @arancel.coseguro %>
  </td>
  </tr>
</table>

</fieldset>