<fieldset class="ui-widget ui-widget-content ui-corner-all">
  <legend class="ui-widget ui-widget-header ui-corner-all">Buscar Paciente</legend>
    <% form_remote_for @turno, :url => result_turnos_path  do |f| %>
    <table>
  <tr>
    <th>
      Documento
    </th>
    <td>
      <%= f.text_field :paciente_id, :class => 'ui-widget-content', :size => 15 %>
    </td>
  </tr>
    </table>
  <table>
    <tr>
    <td style=" float: left; margin-left:  200px">
      <%= submit_tag 'Buscar' %>
    </td>
    </tr>
</table>
  <% end %>

  <div id="result">

  </div>
  </fieldset>

<script type="text/javascript">
  $(document).ready(function(){
           $("#fancybox-outer").width(340);
           $("#fancybox-outer").height(130);
           $("#fancybox-inner").width(340);
           $("#fancybox-inner").height(320);
  })
  </script>

