


<th>Fecha desde</th>
    <th><span class="fecha" class ="ui-widget-content">
              <input class="ui-widget-content" type="text" id="fecha"  readonly="readonly" size="10" />
      </span>
    </th>
    <script type="text/javascript">

      $("#fecha").timePicker()
    </script>