<fieldset class="ui-widget ui-widget-content ui-corner-top">
  <legend class="ui-widget ui-widget-content ui-corner-all ui-widget-header">Evento</legend>

 <table style=" text-align: left;">
   <tr>
     <th>Profesional</th>
     <td><%#= @turno.profesional.nombre %></td>
   </tr>
   <tr>
     <th>Fecha</th>
     <td>
   <%#=h @turno.fecha.strftime('%d/%m/%Y') %></td>
   </tr>
   <tr>
     <th>Hora</th>
     <td><%#=h @turno.hora  %> </td>
   </tr>
   <tr>
     <th>Duracion</th>
     <td><%#=h @turno.duracion %> </td>
   </tr>
 </table>

</fieldset>