<fieldset class="ui-widget ui-widget-content ui-corner-top">
  <legend class="ui-widget ui-widget-content ui-corner-all ui-widget-header">Nuevo Profesional</legend>
<% form_remote_tag :url => resultado_profesionales_path,
                    :method => :post, 
                    :update => :search_hits do -%>

    <table id="search-form">
      <tr>
        <td>
          <label>Nombre</label></td>
        <td><%= text_field_tag :nombre %>
        </td>
      </tr>
      <tr>
        <td>
          <label>Documento</label></td>
        <td><%= text_field_tag :documento %>
        </td>
      </tr>
      <tr>
        <td>
          <label></label>
          <%= submit_tag 'Buscar',  :class => 'submit ui-button ui-widget ui-state-default ui-corner-all' %>
        </td>
      </tr>
      </table>
</fieldset>
<%end -%>
<div id ="search_hits">

</div>
